.mb_rating {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;

  &__stars {
    width: 100%;
    height: 100%;
    display: block;

    &__star {
      width: 40px;
      display: inline-block;
    }
  }
}

.star_svg {
  stroke: none;
  // stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;

  &.none {
    fill:url(#none);
  }
  &.half {
    fill:url(#half);
  }
  &.full {
    fill:url(#full);
  }
}

#none,
#half,
#full {
  stop.end-color {
    stop-color: #f2f2f2;
  }
}

.warning {
  color: orange;
}

.error {
  color: red;
}

.success {
  color: #45ff61;
}

#MyBookingsMessage {
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
}

#MyBookingsMessage.active {
  opacity: 1;
}