#MyBookingsRater {
  background-color: blue;

  .mb_rating {
    background-color: red;
  
    &__stars {
      display: block;
      height: 400px;

      &__star {
        svg {
          display: inline-block;
          width: 24px;
          height: auto;
        }
      }
    }
  }
}